body {
    heigh:665px;
    background-image: url("https://c1.klipartz.com/pngpicture/344/286/sticker-png-icon-login-password-user-lock-and-key-share-icon-security-blue-padlock.png");
    background-size: 50%;

  }