
body {
    heigh:665px;
    background-image: url("https://th.bing.com/th/id/R.5c13f15995253ab0422ada77ecc78e49?rik=ATw3yMToP%2f8MRw&riu=http%3a%2f%2fwww.todopaisajes.com%2f1920x1080%2fhotel-en-la-playa.jpg&ehk=3XV5asCBCgWrTE3CtshlJ0%2bkpStuUIJRoJ8mMn40ek4%3d&risl=&pid=ImgRaw&r=0");
    background-size: 100%;

  }