
body {
    heigh:665px;
    background-image: url("https://content.r9cdn.net/rimg/dimg/63/30/85cee65b-city-46053-1673284fa31.jpg?width=1750&height=1000&xhint=1272&yhint=1072&crop=true");
    background-size: 100%;

  }