
body {
    heigh:665px;
    background-image: url("https://th.bing.com/th/id/R.4e87afd9d6d60532e2a0c5ef41f07344?rik=89UIDQMMnBa1bw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-ttWNdeRLePs%2fUXfUAWgRVQI%2fAAAAAAAAWF0%2fHBlKAiH8HR4%2fs1600%2fTulum%2bQuintana%2bRoo%2c%2bMexico%2b16.jpg&ehk=1y9vwcClXS56YkODJMlsourMLTo0QLUmtBJUB%2blNXi8%3d&risl=&pid=ImgRaw&r=0");
     background-size: 100%;

  }